{% extends 'base.html' %}
{% block body %}
<header class="navbartext">
    <h2>{{ career.title }}</h2>
</header>
<body>
<div class="hero">
    <div class="card-container">
        <div class="card">
            <h2 class="class-title">Discription</h2>
            <p><strong></strong> {{ career.description }}</p>
        </div>
        <div class="card">
            <h2 class="class-title">Requirements</h2>
            <p><strong></strong> {{ career.requirements }}</p>
        </div>
    </div>
</div>

</body>
{% endblock %}  