{% extends 'base.html' %}
{% block body %}
<header class="navbartext">
    <h2>{{ course.title }}</h2>
</header>
<body>
<div class="hero">
    <div class="card-container">
        <div class="card">
            <h4>Course Provider: <a href="{{ course.link }}">{{ course.course_provider }}</a></h4>
            <h2 class="card-title">Discription</h2>
            <p><strong></strong> {{ course.description }}</p>
        <br>
            <h4>Time of completeion: </h4>
            <p>{{ course.time_to_complete }}</p>
        </div>
    </div>
</div>

</body>
{% endblock %}  